body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
	color: #fff;
	letter-spacing: 1px;

}

.container {
	background-color: #fafafa;
	max-width: 1000px;
	margin: 0px auto;
	box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
	display: flex;

}

.container-time {
	background-color: black;
	text-align: center;
	border: 3px black solid;
}
.heading {
	font-size: 35px;
	text-transform: uppercase;
	color: black;
}

.heading-days {
	color: black;
	font-size: 30px;

}

.heading-phone {
	font-size: 20px;
}
.container-form {
	padding: 20px 0;
	margin: 0 auto;
	color: #000;
}
form {
	display: grid;
	grid-row-gap: 20px;
}
form p {
	font-weight: 600;
}
.form-field {
	display: flex;
	justify-content: space-between;
}

input,select {
	pad: 10px 15px;
}

.btn {
	background-color: rgba(0, 0, 0, .95);
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}

.btn:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	.container-form  {
		padding: 10px;
	}
	.heading-phone {
		font-size: 17px;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 880px) {
	.container-time {
		padding: 30px;
	}
	.container-form  {
		padding: 10px;
	}
	
	
}
.form-field-text {
	background-color: #fff;
	height: 45px;
	width: 50%;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid #e5e5e5;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}