{% extends 'touchedbynoa/component/_base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block content %}
<div class="wrapper">


    <div class="container">
        <div class="container-time" id="imageContainer">
        <img src="{{ hairstyle.image.url }}" height="441" width="440">
        </div>

        <div class="container-form">
            <form id="appointmentForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="heading heading-yellow">Book Appointment</h2>

                <div class="form-field">
                    <h2 style="text-align: center;">{{ hairstyle.title }}</h2>
                </div>
                <div class="form-field">
                    <p>Size</p>
                    {{ form.size_and_price }}
                    {{ form.size_and_price.errors }}
                </div>
                <div class="form-field">
                    <p>Length</p>
                    {{ form.length }}
                    {{ form.length.errors }}
                </div>


                <div class="form-field">
                    <p>Date</p>
                    {{ form.date }}
                    {{ form.date.errors }}
                </div>


                <div class="form-field">
                    <p>Time</p>
                    {{ form.time }}
                    {{ form.time.errors }}
                </div>


                <button type="submit" name="book" value="book" class="btn">Book
                </button>
            </form>

        </div>
    </div>
</div>



{% endblock content %}
