<!DOCTYPE html>
{% extends 'touchedbynoa/_base.html' %}
{% load static %}
{% load tailwind_filters %}

<html lang="en">
<head>
    {% block content %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Login</title>

    <!-- Google font -->
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:90" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Alice:400,700" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap2.min.css' %}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/booking.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .body-text >h2{
            color: rgba(231, 139, 144, 1);
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="booking" class="section_">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="booking-bg">
                        <div class="form-header">
                            <h2>{{ appointment.title }}</h2>
                            <p>You can view your appointment and even update or cancel it here.</p>
                            <hr>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <article class="body-text">
                                        <h2>{{ appointment.date }} @{{ appointment.time }}</h2>
                                        <h4>{{ appointment.size_and_price }}</h4>
                                        <h4>{{ appointment.title.description }}</h4>
                                    </article>
                                    <span class="body-text"></span>
                                </div>
                            </div>


                            <div class="col-md-12 text-center">
                                <div class="form-group">

                                        <div class="form-btn">
                                            <a href="{% url 'cancel-my-appointments' appointment.pk %}"
                                           class="btn btn-danger btn-fill">Cancel</a>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
</body>
</html>