{% extends 'touchedbynoa/component/_base.html' %}
{% load humanize %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/hairstyles/style.css' %}" media="screen">

{% endblock %}

{% block content %}

<main class="grid">
    <section class="gridContent">
        <section class="titleServiceContent">
            <header>
                <h1 class="title titleServices">Our Hairstyles</h1>
                <div class="lineSeparator lineSeparatorDanger">✻</div>
            </header>
            <p>We promise you a new look and more importantly, a new attitude.</p>
        </section>


        <section class="titleServiceContent_styles">
            <h1 class="title titleServices">Cornrow Hairstyles</h1>
            <div class="lineSeparator lineSeparatorDanger">✻</div>
        </section>

        <section class="hairstyle-group">
            {% for cornrow in cornrows %}
            <section class="hairstylesCard">
                <img src="{{ cornrow.image.url }}" alt="{{ cornrow.title }}">
                <h2>{{ cornrow.title }}</h2>
                <p style="margin: 0.75em;">{{ cornrow.description }}</p>
                <a href="{% url 'appointments' pk=cornrow.id %}">
                    <button type="button">Book</button>
                </a>
            </section>
            {% endfor %}
        </section>

        <section class="titleServiceContent_styles">

            <h1 class="title titleServices">Knotless Braids Styles</h1>
            <div class="lineSeparator lineSeparatorDanger">✻</div>

        </section>

        <section class="hairstyle-group">
            {% for knotless_iter in knotless %}
            <section class="hairstylesCard">
                <img src="{{ knotless_iter.image.url }}" alt="{{ knotless_iter.title }}">
                <h2>{{ knotless_iter.title }}</h2>
                <p style="margin: 0.75em;">{{ knotless_iter.description }}</p>
                <a href="{% url 'appointments' pk=knotless_iter.id %}">
                    <button type="button">Book</button>
                </a>
            </section>


            {% endfor %}
        </section>

        <section class="titleServiceContent_styles">
            <h1 class="title titleServices">Ponytail Hairstyles</h1>
            <div class="lineSeparator lineSeparatorDanger">✻</div>
        </section>

        <section class="hairstyle-group">
            {% for ponytail in ponytails %}
            <section class="hairstylesCard">
                <img src="{{ ponytail.image.url }}" alt="{{ ponytail.title }}">
                <h2 style="margin: 0.5em;">{{ ponytail.title }}</h2>
                <p style="margin: 0.75em;">{{ ponytail.description }}</p>

                <div class="button-hairstyle">
                    <a href="{% url 'appointments' pk=ponytail.id %}">
                        <button type="button">Book</button>
                    </a>
                </div>

            </section>
            {% endfor %}
        </section>
    </section>
</main>

<script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $().ready(function() {
        $('[rel="tooltip"]').tooltip();
        $('a.scroll-down').click(function(e) {
            e.preventDefault();
            scroll_target = $(this).data('href');
            $('html, body').animate({
                scrollTop: $(scroll_target).offset().top - 60
            }, 1000);
        });
    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }

                    // Get the video element
    var video = document.getElementById("autoplay-video");

                    // Play the video when the document is ready
    document.addEventListener("DOMContentLoaded", function() {
         video.play();
    });

</script>

{% endblock %}





