{% extends 'touchedbynoa/component/_base.html' %}
{% load humanize %}
{% load static %}
<head>
    <title>@TouchedByNoa</title>
</head>
{% block content %}

<div>
    <main class="mainHome">
        <section class="hero">
            <section class="heroImgContainer">
                <img src="{% static 'frontend_images/9.jpg' %}" alt=""/>
                <div class="overlay"></div>
            </section>
            <section class="heroContent">
                <h1 class="title titleHero">
                    <span class="titleBookNow">Book Now</span>
                    <span class="titleBrand">TouchedByNoa</span>
                </h1>
                <p class="brandDescription">
                    Enjoy top-quality experiences every time you visit!
                </p>
                <div class="lineSeparator">♦</div>
                <a href="{% url 'appointments' %}" class="cta">
                    Book Appointment
                </a>
            </section>
        </section>

        <section class="services">

            <section class="titleServiceContent">
                <h1 class="title titleServices">Our Services</h1>
                <div class="lineSeparator lineSeparatorDanger">✻</div>
            </section>
            <p class="servicesDescription">
                We promise you a new look and, more importantly, a new attitude.
            </p>
            <section class="ourServices">
                <section class="card">
                    <a href="{% url 'appointments' %}">
                        <section class="cardImg">
                            <i class="fa-solid fa-user cardIcon"></i>
                        </section>
                        <section class="cardContent">
                            <h1 class="cardHeading">Hairstyles</h1>
                            <p class="cardDescription">
                                Offering a range of up-to-date and classy styles that turn heads!
                            </p>
                        </section>
                    </a>
                </section>

                <section class="card">
                    <a href="{% url 'appointments' %}">
                        <section class="cardImg">
                            <i class="fa-solid fa-money-bill cardIcon"></i>
                        </section>
                        <section class="cardContent">
                            <h1 class="cardHeading">Book Appointments</h1>
                            <p class="cardDescription">
                                You're able to book appointments straight from our site. Giving you a seamless, safe and secure booking
                                experience.
                            </p>
                        </section>
                    </a>
                </section>


                <!--                <section class="card">-->
                <!--                    <section class="cardImg">-->
                <!--                        <img src="">-->
                <!--                    </section>-->
                <!--&lt;!&ndash;                    <section class="cardContent">&ndash;&gt;-->
                <!--&lt;!&ndash;                        <h1 class="cardHeading">Your Appointments</h1>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <p class="cardDescription">&ndash;&gt;-->
                <!--&lt;!&ndash;                            You can view your Booking Details on our beautifully designed dashboard.&ndash;&gt;-->
                <!--&lt;!&ndash;                        </p>&ndash;&gt;-->
                <!--&lt;!&ndash;                    </section>&ndash;&gt;-->
                <!--                </section>-->
            </section>
        </section>

        <!--        <section class="testimonials">-->
        <!--            <section class="titleServiceContent">-->
        <!--                <h1 class="title titleTestimonial">-->
        <!--                    <span class="testimonialSubTitle">Here are some</span>-->
        <!--                    <span class="testimonialTitleMain">Clients Testimonials</span>-->
        <!--                </h1>-->
        <!--                <div class="lineSeparator lineSeparatorDanger">✻</div>-->

        <!--            </section>-->
        <!--        </section>-->

    </main>

</div>
{% endblock %}
