{% extends 'touchedbynoa/component/_base.html' %}
{% load humanize %}
{% load static %}
<head>
    <title>@TouchedByNoa</title>
</head>
{% block content %}

<div>
    <main class="mainHome">
        <section class="hero">
            <section class="heroImgContainer">
                <img src="{% static 'frontend_images/home_pic.jpg' %}" alt=""/>
                <div class="overlay"></div>
            </section>
            <section class="heroContent">
                <h1 class="title titleHero">
                    <span class="titleBookNow">Book Now</span>
                    <span class="titleBrand">TouchedByNoa</span>
                </h1>
                <p class="brandDescription">
                    Enjoy top-quality experiences every time you visit!
                </p>
                <div class="lineSeparator">♦</div>
                <a href="{% url 'hairstyles' %}" class="cta">
                    Hairstyles
                </a>
            </section>
        </section>


    </main>

</div>
{% endblock %}
