{% extends 'touchedbynoa/component/_base.html' %}
{% load humanize %}
{% load static %}


{% block content %}

<main class="grid">
    <section class="gridContent">
        <section class="titleServiceContent">
            <header>
                <h1 class="title titleServices">Our Hairstyles</h1>
                <div class="lineSeparator lineSeparatorDanger">✻</div>
            </header>
            <p>We promise you a new look and more importantly, a new attitude.</p>
        </section>
        <section class="hairstyles">
            {% for appointment in appointments %}
            <section class="hairstylesCard" id="hairstyle">

                <img src="{{ appointment.image.url }}" alt="{{ appointment.title }}"/>

                <section>
                    <p class="hairstyleTitle">{{ hairstyle.title }}</p>

                </section>
            </section>
            {% endfor %}
        </section>
    </section>
</main>

<script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $().ready(function() {
        $('[rel="tooltip"]').tooltip();
        $('a.scroll-down').click(function(e) {
            e.preventDefault();
            scroll_target = $(this).data('href');
            $('html, body').animate({
                scrollTop: $(scroll_target).offset().top - 60
            }, 1000);
        });
    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }

                    // Get the video element
    var video = document.getElementById("autoplay-video");

                    // Play the video when the document is ready
    document.addEventListener("DOMContentLoaded", function() {
         video.play();
    });

</script>

{% endblock %}





