{% extends 'touchedbynoa/component/_base.html' %}
{% load humanize %}
{% load static %}

<body>
{% block content %}
  <main class="grid">
    <section class="gridContent">
      <section class="titleServiceContent">
        <header>
          <h1 class="title titleServices">Confirmed Appointment</h1>
          <div class="lineSeparator lineSeparatorDanger">✻</div>
        </header>
        <p>We're going to keep our promise, we'll do you right... see you soon!</p>
      </section>
      <section class="hairstyles">

          <section class="hairstylesCard">
            <section>
              <img src="{{ appointment.title.image.url }}" alt="{{ appointment.title }}" />
            </section>
            <section>
              <p class="hairstyleTitle">{{ appointment.title }}</p>
              <p class="hairstyleTitle">{{ appointment.time }}</p>
              <p class="hairstyleTitle">{{ appointment.length }}</p>
              <p class="hairstyleTitle">{{ appointment.style_and_price }}</p>

            </section>
          </section>

      </section>
    </section>
  </main>
{% endblock %}


<script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>


</body>
<!-- Center the "Get Started" section -->


