<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>@TouchedByNoa</title>
    <link rel="stylesheet" href="{% static 'css/booking_form/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900" rel="stylesheet">
    <link href="{% static 'css/base/index.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% block head %}{% endblock %}
</head>
<body>

{% include 'touchedbynoa/component/Navbar.html' %}
<div class="content">
{% block content %}

{% endblock content %}
</div>

</body>
</html>