{% block content %}
<style nonce="{{ request.nonce }}">
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
    }

    .hamburger-btn {
      display: none;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 10px;
      position: fixed;
      top: 10px;
      left: 10px;
    }

    .hamburger-icon {
      width: 30px;
      height: 3px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .menu a {
      padding: 15px;
      text-decoration: none;
      color: #333;
      font-size: 18px;
      display: block;
      transition: 0.3s;
    }

    .menu a:hover {
      background-color: #ddd;
    }

    @media screen and (max-width: 600px) {
      .hamburger-btn {
        display: block;
      }

      .menu {
        width: 100%;
      }
    }
</style>

<div class="nav">
    <div class="navContent">
        <a href="/" class="brand">
            @TouchedByNoa
        </a>

        <ul id="navList" class="navList">
            <li class="navItem">
                <a href="/" class="navLink">
                    Home
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.instagram.com/touchedbynoa/" class="navLink">
                    Instagram
                </a>
            </li>
            <li class="navItem">
                <a href="/prices" class="navLink">
                    Prices
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="navItem">
                <a href="{% url 'logout' %}" class="navLink">
                    Sign Out
                </a>
            </li>
            <li class="navItem">
                <a href="/my-appointments" class="navLink">
                    My Appointments
                </a>
            </li>
            {% else %}
            <li class="navItem">
                <a href="{% url 'login' %}" class="navLink">
                    Sign In
                </a>
            </li>
            <li class="navItem">
                <a href="{% url 'register' %}" class="navLink">
                    Sign Up
                </a>
            </li>
            {% endif %}

            <!-- ... (repeat for other menu items) ... -->

            <li class="navItem">
                <a href="/hairstyles" class="navLink cta">
                    Hairstyles
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}