{% block content %}
<style>
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
    }

    .hamburger-btn {
      display: none;
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 10px;
      position: fixed;
      top: 10px;
      left: 10px;
    }

    .hamburger-icon {
      width: 30px;
      height: 3px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .menu a {
      padding: 15px;
      text-decoration: none;
      color: #333;
      font-size: 18px;
      display: block;
      transition: 0.3s;
    }

    .menu a:hover {
      background-color: #ddd;
    }

    @media screen and (max-width: 600px) {
      .hamburger-btn {
        display: block;
      }

      .menu {
        width: 100%;
      }
    }
</style>
<div id="root"></div> {# This is where your React app will be mounted #}


<div class="nav">
    <div class="navContent">
        <a href="/" class="brand">
            @TouchedByNoa
        </a>

        <button onclick="handleClick()" class="hamburger-btn">
            <div class="hamburger-icon"></div>
            <div class="hamburger-icon"></div>
            <div class="hamburger-icon"></div>
        </button>

        <ul id="navList" class="navList">
            <li class="navItem">
                <a href="/" class="navLink" onclick="handleClick()">
                    Home
                </a>
            </li>
            <li class="navItem">
                <a href="/hairstyles" class="navLink" onclick="handleClick()">
                    Hairstyles
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.instagram.com/touchedbynoa/" class="navLink" onclick="handleClick()">
                    Instagram
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="navItem">
                <a href="{% url 'logout' %}" class="navLink" onclick="handleClick()">
                    Sign Out
                </a>
            </li>
            {% else %}
            <li class="navItem">
                <a href="{% url 'login' %}" class="navLink" onclick="handleClick()">
                    Sign In
                </a>
            </li>
            <li class="navItem">
                <a href="{% url 'register' %}" class="navLink" onclick="handleClick()">
                    Sign Up
                </a>
            </li>
            {% endif %}

            <!-- ... (repeat for other menu items) ... -->

            <li class="navItem">
                <a href="/appointments" class="navLink cta" onclick="handleClick()">
                    Book Appointment
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    function handleClick() {
      // Insert your React code here to handle the click event
      // You may need to adjust this function based on your React implementation
      // For example, if using ReactDOM.render(), make sure to update the #root element
    }
</script>
{% endblock %}