<!DOCTYPE html>
{% extends 'touchedbynoa/component/_base.html' %}
{% load static %}
{% load tailwind_filters %}


<head>
    <title>Login</title>
</head>

{% block content %}
<main class="grid">
    <section class="gridContent auth">
        <h1 class="title-signin">sign in</h1>

        <form class="form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <section class="formControl signin">
                <label for="username"></label>
                {{ form.username }}
                <!-- Placeholder for Django logic to handle input -->
            </section>
            <section class="formControl signin">
                <label for="password"></label>
                {{ form.password }}
                <!-- Placeholder for Django logic to handle input -->
            </section>
            <section class="sectionSubmit">
                <a href="{% url 'password-reset' %}">Forgot Password?</a>
                <button type="submit" class="login btn">
                    Login
                </button>
            </section>
        </form>

        {% load socialaccount %}
        <a href="{% provider_login_url 'google' %}?next=/">
            <div id="my-signin2"></div>
        </a>
    </section>
</main>

<!--<script>-->
<!--    function onSuccess(googleUser) {-->
<!--      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());-->
<!--    }-->
<!--    function onFailure(error) {-->
<!--      console.log(error);-->
<!--    }-->
<!--    function renderButton() {-->
<!--      gapi.signin2.render('my-signin2', {-->
<!--        'scope': 'profile email',-->
<!--        'width': 240,-->
<!--        'height': 50,-->
<!--        'longtitle': true,-->
<!--        'theme': 'dark',-->
<!--        'onsuccess': onSuccess,-->
<!--        'onfailure': onFailure-->
<!--      });-->
<!--    }-->
<!--</script>-->

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
{% endblock %}
