{% extends 'touchedbynoa/component/_base.html' %}
{% block content %}
  <main class="grid">
    <section class="gridContent auth">
      <h1 class="title-signin">sign up</h1>

      <form class="form" method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <section class="formControl signin">
          <label for="email">Email:</label>
          {{form.email}}
        </section>
        <section class="formControl signin">
          <label for="password">Password:</label>
          {{form.password}}
        </section>
        <section class="sectionSubmit">
          <button type="submit" class="login">
            Sign up
          </button>
        </section>
      </form>
      
      {% load socialaccount %}
<!--      <a href="{% provider_login_url 'google' %}?next=/">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google" width="24"-->
<!--             height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none"-->
<!--             stroke-linecap="round" stroke-linejoin="round">-->
<!--          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>-->
<!--          <path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>-->
<!--        </svg>-->
<!--      </a>-->
    </section>
  </main>
{% endblock %}