{% extends 'touchedbynoa/component/_base.html' %}
{% block content %}
  <main class="grid">
    <section class="gridContent auth">
      <h1 class="title-signin">Sign Up</h1>

      <form class="form" method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <section class="formControl signin">
          <label for="email">Email:</label>
          {{form.email}}
        </section>
        <section class="formControl signin">
          <label for="password">Password:</label>
          {{ form.password1 }}
        </section>
        <section class="formControl signin">
          <label for="password">Confirm Password:</label>
          {{ form.password2 }}
        </section>
        <section class="sectionSubmit">
          <button type="submit" class="login">
            Sign up
          </button>
        </section>
      </form>
    </section>
  </main>
{% endblock %}